.headerStyle {
    padding-left: 5px; 
    border: 1px solid lightgrey;
    width: inherit;
    font-weight: 700;
    word-break: break-word;
    font-size: 20px;
    background-color: #122230;
    color: white;
}

.legendContentStyle {
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding-right: 10px;
}

.legendDataStyle {
    background-color: #122230;
    color: white;
    border-radius: 50%;
    height: 23px;
    width: 23px;
    text-align: center;
}

.typoContentStyle {
    font-weight: 700;
    word-break: break-word;
}

.contentGrid {
    align-self: flex-start;
    padding-left: 23%;
    padding-top: 4.75%;
    padding-bottom: 2%;
    padding-right: 1%;
    overflow-y: scroll;
}

.legendContentGrid {
    align-self: flex-start;
    position: fixed;
    bottom: 55%;
    left: 3%;
}

.titleStyle {
    font-weight: 700;
    word-break: break-word;
    font-size: 20px;
    padding-top: 3%;
    padding-left: 1.5%;
}

.titleStyleGrid {
    position: fixed;
    left: 4;
    right: 0;
    bottom: 1;
    z-index: 1;
    background-color: #F7F7F7;
    height: 90px !important;
}

.gridContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
}