@font-face {
    font-family: 'material-outline-icons';
    src: url('./material-outline-icons.ttf?8ot508') format('truetype'),
    url('./material-outline-icons.woff?8ot508') format('woff'),
    url('./material-outline-icons.svg?8ot508#material-outline-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.customHandle {
    cursor:col-resize;
    width: 12px;
    height: 50px;
    background: white;
    border: 2px solid lightgray;
    border-radius: 8px;
    text-align: center;
    z-index: 10;
    overflow: hidden;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position:absolute;
    top: 50%;
    background-color: #61dafb;
    left:-5px;
}

.customHandle::after {
    content: '. . . .';
    writing-mode: vertical-lr;
}


.customResizeBorder {
    width: 20px;
    margin-left: -10px;
    margin-right: -10px;
    cursor:col-resize;
    z-index: 9999;
}

.material-icons {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'material-outline-icons' !important;
    font-size: 24px;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
