input[type=button] {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}

input[type=button]:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: #d5d5d5;
}

input[type=submit] {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
}

input[type=submit]:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: #d5d5d5;
}

.formText {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    cursor: pointer;
    border: 1px solid black;
    margin-left: 3px;
}

.formText:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    background-color: #d5d5d5;
}

.ModelMenu {
    white-space: pre-wrap;
}

.headerDisplay {
    display: none;
}

.inputStyle {
    width: 80%;
}

.inputStyle-plot {
    width: 75%;
    margin-left: 26px;
    margin-top: 12px;
}

.inputStyle1 {
    width: 80%;
    margin-top: 12px;
}

.folderPath {
    word-break: keep-all;
    white-space: pre-wrap;
}

.pathBreak {
        line-break: anywhere;
}

.infoIcon {
    margin-top: 38px;
}

.toolTip {
    width: 280px;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: keep-all;
}

.divideProps {
    border-left: 1px solid black;
}

.dataSource {
    width: 39%;
    margin: 12px 5px;
}

.borderStyle {
    /* border: 1px solid black; */
    /* border-right: 1px solid black;
    border-left: 1px solid black; */
    width: 100%;
    /* align-self: center; */
    padding: 10px;
}

.root {
    white-space: nowrap;
    width: 100%;
}

.mui-focused {
    font-weight: 300;
    font-size: large;
}

.MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(0.75);
    transform-origin: top left;
    font-size: large;
    font-weight: 500;
}

.desc {
    display: none;
}

.mt-0 {
    margin-top: 0 !important;
}

.descPlot {
    flex-wrap: wrap;
    display: flex;
    width: 94%;
}

.selectedFile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.columnStyle {
    width: 50%;
}

.content {
    padding-left: 3px;
    padding-right: 3px;
    width: 100%;
    overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
    .divideProps {
        /* border-top: 1px solid black; */
        border-left: 0;
    }
    .borderStyle {
        width: 100%;
        margin: 5px;
        padding: 10px;
    }
    .content1 {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        width: 100%;
    }
    .columnStyle {
        width: 100%;
        margin: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .selectedFile {
        justify-content: space-between;
        align-items: center;
        display: block
    }
    .infoIcon {
        margin-top: 15px;
    }
}

.overlay {
    opacity: .5;
    pointer-events: none;
}

@media only screen and (max-width: 991px) {
    .legendWrap {
        flex-wrap: wrap;
    }
    .descPlot {
        width: 89%;
    }
    .dpi {
        width: 83% !important;
    }
}

@media only screen and (min-width: 601px) {
    .content1 {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding-left: 8px;
        padding-right: 8px;
        width: 100%;
        display: flex
    }
}

.MuiGrid-spacing-xs-3 {
    width: 100% !important;
    margin: auto !important;
}