.FileWrapper {
  overflow: auto;
}

.sidebarStyle {
  min-width: 320px;
  max-width: 500px;
  width: auto;
}

.buttonHr {
  display: flex;
  justify-content: center;
  align-items: center;
}
hr {
  flex: 1;
  border: none;
  background: black;
}

.subcategory-count-badge {
  top: 11px;
  font-size: 12px !important;
  background: #61dafb;
  right: 7px;
  color: black !important;
  position: absolute;
  border-radius: 50% !important;
  padding: 0px 6px !important;
  width: auto;
  height: auto;
}

@media screen and (max-width:600px) {
  .mob-header{
    flex-direction: column-reverse;
  }
}

/* .contentStyle {
    height: 50%;
    overflow-y: auto;
} */

.hideRoot {
  display: none;
}

.webkitSticky {
  position: -webkit-sticky !important;
}


.overflowContentFiles {
  /* overflow-x: auto; */
  overflow: visible;
}

.header1{
  display: table;
}

.sidebarHeader1 {
  overflow: hidden;
}

.sidebarWrapper {
  overflow: auto;
}

.sort-arrow {
  opacity: 0.1;
}

.sort-arrow:hover {
  opacity: .5;
}

.fileTableStyle {
  word-break: break-all;
}

.wordBreak {
  word-break: keep-all;
}

@media only screen and (max-width: 1279px) {
  .sidebarStyle {
    width: 320px;
  }

  .overflowContentFiles {
    overflow: auto;
  }
}

.MuiButtonBase-root.MuiChip-root.MuiChip-outlined.MuiChip-sizeSmall.MuiChip-colorDefault.MuiChip-deletable.MuiChip-deletableColorDefault.MuiChip-outlinedDefault.css-1hh13yt-MuiButtonBase-root-MuiChip-root {
  margin-right: 2px;
  margin-bottom: 2px;
}

.person_icon {
  font-size: 16px !important;
}
.MuiPaper-root {
  background-color: #f7f7f7 !important;
}
.usersPermission {
  padding: 10px;
  border: 1px solid;
  border-bottom: 0;
}
.usersPermission:last-child {
  border-bottom: 1px solid;
}
.usersPermission:first-child {
  margin-bottom: 10px;
  border-bottom: 1px solid;
}
.labelChip {
  font-size: 11px;
}
hr {
  border: 1px dotted #122230;
}

.Mui-focused {
  color: white !important;
}

.MuiPaper-root .Mui-focused {
  color: black !important;
}
