/* .chips{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 90px;
    height: .1px; 
} */


.header {
  min-height: 120px;
    flex: none;
    height: auto;
}

.overflowContentJob {
  overflow: visible;
}

.webkitSticky {
  position: -webkit-sticky !important;
}

.sidebarStyle {
  min-width: 320px;
  max-width: 515px;
}


.chips{
    display: inline-block;
  background: grey;
  padding: 4px 12px;
  border-radius: 32px;
  font-size: 13px;
  margin-left:5px;
  margin-top: 5px;
  word-break: break-word;
}

.MuiGrid-spacing-xs-1{
  width: 100% !important;
  margin: auto !important;
}

@media only screen and (max-width: 1279px) {
  .sidebarStyle {
    width: 320px;
  }

  .overflowContentJob {
    overflow: auto;
  }
}