.FileWrapper {
    overflow: auto;
}

/* .contentStyle {
    height: 50%;
    overflow-y: auto;
} */

.sidebarHeader1 {
    overflow: hidden;
}

.sidebarWrapper {
    overflow: auto;
}

  .sort-arrow{
    opacity: 0.1;
  }
  .sort-arrow:hover{
    opacity: .5;
  }

  .fileTableStyle {
    word-break: break-all;
  }

  .wordBreak {
    word-break: keep-all;
  }

