.MuiAutocomplete-clearIndicator {
    display: none;
    cursor: text;
}
.MuiAutocomplete-endAdornment {
    display: none;
    cursor: text
}
.MuiAutocomplete-endAdornment-280{
    display: none;
    cursor: text
}