.MuiAutocomplete-clearIndicator {
    display: none;
    cursor: text;
}
.MuiAutocomplete-endAdornment {
    display: none;
    cursor: text
}
.MuiAutocomplete-endAdornment-280{
    display: none;
    cursor: text
}
/* MuiButtonBase-root-809 MuiIconButton-root-801 MuiAutocomplete-clearIndicator */

_:-webkit-full-screen, .safari_headr { 
    width:100% !important;
}
.abc{
    width: 100% !important;
}