/* .chips{
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 90px;
    height: .1px; 
} */


.chips{
    display: inline-block;
  background: grey;
  padding: 4px 12px;
  border-radius: 32px;
  font-size: 13px;
  margin-top: 5px;
}

.jobDefHeader{
  display: table;
}
.MuiNativeSelect-icon{
  color: '#FFA726',

}