.pagination  ul{
    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
  }
  
   .pagination li {
    display: inline-block;
    padding: 7px;
  }

  .pagination a[role=button]{
      padding: 10px;
  }
  .pagination .next {
display: none;
  }

  .next-button{
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 5px;
   
  }
  .count-info{
    margin-left: 12px;
    margin-top: 0px;
     margin-bottom: 5px;
     white-space: nowrap;
  }
  .sort-arrow{
    opacity: 0.1;
  }
  .sort-arrow:hover{
    opacity: .5;
  }

  .selceted-row{
    background-color: lightgray;
  }
  /* .sort-arrow1:hover{
    opacity: 1;
  } */

  .MuiGrid-spacing-xs-1 {
    width: 100% !important;
    margin: auto !important;
  }

  .pagination-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    align-items: baseline;
  }
  
  .pagination-bar {
    margin-top: 10px;
  }
  
  .goToPaginationForMobile {
    max-width: 50px;
    margin-top: 8px;
    padding-bottom: 0px;
    margin-right: 3px;
    margin-left: 3px;
  }
  
  .goToPagination {
    max-width: 80px;
    margin-top: 8px;
    padding-bottom: 0px;
    margin-right: 3px;
    margin-left: 3px;
  }
  
  .goToPage_span {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }
  
  label {
    font-weight: bold;
  }
  
  input#GoToPagination {
    padding: 8px;
  }
  
  .goToPaginationButton {
    margin-top: 7px;
    color: white;
  }
  
  .goToPaginationButton:disabled {
    background-color: #58626b !important;
    color: white;
  }
  
  .MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeSmall.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-textPrimary.Mui-selected.MuiPaginationItem-page {
    background-color: #252f3e !important;
  }
  
  .MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeSmall.MuiPaginationItem-text.MuiPaginationItem-circular.MuiPaginationItem-textPrimary.MuiPaginationItem-page {
    font-size: 1.3rem !important;
  }
  
  [class^="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-sizeMedium MuiPaginationItem-text MuiPaginationItem-circular MuiPaginationItem-textPrimary Mui-selected MuiPaginationItem-page"] {
    background-color: #252f3e !important;
    font-size: 1.3rem !important;
  }
  
  [class^="MuiButtonBase-root MuiPaginationItem-root MuiPaginationItem-sizeMedium MuiPaginationItem-text MuiPaginationItem-circular MuiPaginationItem-textPrimary MuiPaginationItem-page"] {
    font-size: 1.3rem !important;
  }
  
  [class$="-MuiSvgIcon-root-MuiPaginationItem-icon"] {
    font-size: large !important;
  }